
@media (max-width: 700px) {
    nav.top-menu{
        display: none;
    }
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
}

h1{
    font-family: 'Fugaz One', sans-serif;
    font-size: 60px;
}

h3{
    font-family: 'Fugaz One', sans-serif;
    font-size: 30px;
}

/*----- links ------*/

a:link,
a:visited{
    color: #151515;
    text-decoration: none;
}

a:hover, a:focus, a:active{
    color: #f14848;
    text-decoration: none;
}

#index .index_link{
    color: #f14848;
    font-weight: 900;
}
body, main{
    width: 100%;
    margin: 0;

}

.h1-section {
    background-image: url("../assets/other/home-featured-circle.png"), url("../assets/other/homepage-featured-new-1920x745.jpg");
    background-repeat: repeat space, no-repeat;
    background-position: 20% 30%, 50% top;
    background-size: 100%;
    height: 600px;
}

/*----- links ------*/

.red-back-links a:link{
    color: #151515;
    background-color: #ffffff;
}

.red-back-links a:hover, a .red-back-links:focus, .red-back-links a:active{
    color: #ffffff;
    background-color: #f14848;
}

.blog-list .red-back-links a{
    color: #ffffff;
    background-color: #f14848;
}

/*----- red-btn-links ------*/

.red-btn-link:link,
.red-btn-link:visited,
.red-btn-link:hover, a .red-btn-link:hover,
.red-btn-link:active{
    font-weight: 300;
    color: #ffffff;
    background-color: #f14848;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 40px;

}
/*----- img-list-links ------*/

.img-list{
    background-color: #151515;
    color: white;
    font-weight: 300;
}

.img-list a:link, .img-list a:visited{
    color: #606060;
}

.img-list a:hover, .img-list a:focus, .img-list a:active {
    color: #f14848;
}
/*---------- box-list--------- */

.box-list ul{
    width: 100%;
}
.box-list li:nth-of-type(1) {
    width: 50%;
    background-color: #f14848;
}

.box-list li:nth-of-type(2) {
    width: 50%;
    background-color: #ececec;
}

/*-------white-btn-link-------*/

.white-btn-link:link,
.white-btn-link:visited,
.white-btn-link:hover,
.white-btn-link:active{
    font-weight: 300;
    color: #f14848;
    background-color: #ffffff;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 40px;
}
/*------ download-pdf-link-------*/

.download-pdf-link a{
    font-weight: 400;
    color: #f14848;
    background-color: #ffffff;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

aside > .gray-back-link a:hover{
    font-weight: 300;
    color: #151515;
    background-color: #ececec;
}

/* footer list */

footer{
    background-color: #1e2024;
}

.footer-nav a{
    color: #ffffff;
}

/* --- sub-nav-footer----*/

.footer-nav-sub a:link, .footer-nav-sub a:visited{
    color: #7a7a7a;
}

.footer-nav-sub a:hover, .footer-nav-sub a:focus, .footer-nav-sub a:active {
    color: #f14848;
}

/* --- sub-terms-footer----*/

.footer-nav-terms a:link, .footer-nav-terms a:visited{
    color: #7a7a7a;
}

.footer-nav-terms a:hover, .footer-nav a:focus, .footer-nav-terms a:active {
    color: #ffffff;
}
