html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
    font-size:100%;
}

h3,h5,h2,h1{
    margin: 0;
}

h1,h3,h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4.8vw;
    color: white;
    font-weight: 400;
    line-height: 6.2vw;
    text-align: center;
}
h2{
    font-size: 2.5vw;
    line-height: 2vw;
    margin-bottom: 0;
    font-weight: 200;
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
    color: #1e2024;
    font-weight: 200;
    font-size: 3rem;
    text-transform: capitalize;
    line-height: 3.8rem;
}

.h3-left{
   text-align: left;
}

h5{
    font-size: 1.2rem;
    font-weight: 200;
    padding: 1rem;
}

p{
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
}

.p-margin{
    margin: 1em 0 1em 0;
}
section, ul{
    width: 100%;
    margin: 0;
    padding: 0;
}
#index .index_link{
    color: #f14848;
    font-weight: 900;
}

/*---- menu -----*/
header .logo{
    padding-top: 1.1rem;
}

header{
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.08);
    height: 66px;
    padding-left: 30px;
    padding-right: 30px;
}

nav{
    float: right;
    line-height: 1.625rem;
}

.top-menu .top-menu ul, .top-menu li{
    display: inline-block;
    margin-left: 2rem;
    line-height: 66px;
}

.top-menu .red-back-link{
    display: none;}


.h1-section {
    background-image: url("../assets/other/home-featured-circle.png"), url("../assets/other/homepage-featured-new-1920x745.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%, 50% top;
    background-size: cover;
    height: 38vw;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 65px;
}

.box-list{
    height: 600px;
    display: block;
}

.box-list li{
    width: 50%;
    float: left;
    list-style-type: none;
    height: 600px;
    background: url("../assets/other/home-tv-service-bg1.png") no-repeat center;
    background-size:cover;
    display: block;
}

.box-list li:nth-of-type(2) {
    background-image:url("../assets/other/home-tv-service-bg2.png");
}

.box-list li:nth-of-type(1) p, .box-list li:nth-of-type(1) .h3-small {
color: white}

.site-footer {background-color: #1e2024;}

.box-list li:nth-of-type(1) .box-list-content{
    background-image: url(../assets/other/ic_EI_cloud_2_home_page.png);
    background-repeat: no-repeat;
    background-size: 69%;
    background-position: 11rem 3rem;
    padding-left: 12rem;
    padding-top: 22.5rem;
    /* padding-right: 2rem; */
    width: 80%;
    position: relative;
    display: block;
}

.box-list li:nth-of-type(2) .box-list-content{
    background-image: url(../assets/other/ic-stb-screens.png);
    background-size: 62%;
    background-position: 3rem 2rem;
    background-repeat: no-repeat;
    padding-left: 3.5rem;
    padding-top: 22.5rem;
    /* padding-right: 13rem; */
    width: 80%;
    position: relative;
}

.box-list li:nth-of-type(2) .box-list-content h3{
    color: #1e2024;
}

.img-list{
    background-color: #151515;
    color: white;
    font-weight: 300;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side-position{
    width: 60%;
    height: 100%;
    float: right;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*----- links ------*/

a:link,
a:visited{
    font-size: 1rem;
    font-weight: 300;
    color: #151515;
    text-decoration: none;
}

a:hover, a:focus, a:active{
    font-weight: 300;
    color: #f14848;
    text-decoration: none;
}
header .top-menu .nav-link:link,
header .top-menu .nav-link:visited,
header .top-menu .nav-link:hover,.nav-link a:focus
header .top-menu .nav-link:active {
    line-height: 66px;
    height: 66px;
    display: inline-block;
}

.ul .red-back-link a:link{
    color: #151515;
    background-color: #ffffff;
}
.red-back-link a:hover, a .red-back-link:focus, .red-back-link a:active{
    color: #ffffff;
    background-color: #f14848;
}

.red-btn-link:link,
.red-btn-link:visited,
.red-btn-link:hover, .red-btn-link a:focus,
.red-btn-link{
    font-weight: 300;
    font-variant: small-caps;
    color: #ffffff;
    background-color: #f14848;
    font-size: 1vw;
    padding: 1.2vw 2.2vw 1.2vw 2.2vw;
    border-radius: 40px;
    text-align: center;
    margin: 1vw auto;
    letter-spacing: 0.1em;
    display: inline-block;

}

.why-comigo-div{
    width: 350px;
    height: 380px;
    text-align: center;
    margin: auto;
    padding-top: 6rem;
}

.box-list li:nth-of-type(1) .red-btn-link{
    color: #f14848;
    background-color: #ffffff;
}

.your-content {
    height: 600px;

}
.blog-list span,
.floating-boxes .red-back-link{
    color: #ffffff;
    background-color: #f14848;
    width: 100%;
}

.floating-boxes{
    background-color: #f9f9f9;
    height: 540px;
}

.floating-boxes h3{
    width: 40%;
    height: 156px;
    display: inline-block;
    float: left;
    color: #1e2024;
}
.img-list a:link, .img-list a:visited{
    color: #606060;
}

.floating-boxes .gray-back-link{
    color: #151515;
    height: 555px;
}

.footer-nav-sub a:link, .footer-nav-sub a:visited,
.footer-nav-terms-in a:link, .footer-nav-terms-in a:visited{
    color: #7a7a7a;
}
.img-list a:hover, .img-list a:focus, .img-list a:active,
.footer-nav-sub a:hover, .footer-nav-sub a:focus, .footer-nav-sub a:active{
    color: #f14848;
}
.footer-nav a,
.footer-nav-terms-in a:hover, .footer-nav a:focus, .footer-nav-terms-in a:active
, a h5, a h3{
    color: #ffffff;
}
.blog-list li:nth-child(1) a{background-color: #f14848;}
.blog-list li:nth-child(2) a{
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.3)),
            url("../assets/blog/ibc_post_EI-750x508.png");
    background-position: right center;
  }
.blog-list li:nth-child(3) a{background:
        linear-gradient(
                rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.6)),
        url("../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg");
    background-position: center center;
}
.blog-list li:nth-child(4) a{background:
        linear-gradient(
                rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.6)),
        url("../assets/blog/IMG_9294-750x563.jpeg");
    background-position: center center;
}
.blog-list li:nth-child(5) a{background:
        linear-gradient(
                rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.6)),
        url("../assets/blog/post_quality-750x508.jpeg");
    background-position: center center;
}

.blog-list li:nth-child(6) a{background:
        url("../assets/blog/post_tv_connect-750x508.jpeg");
background-position: center center;
    opacity: 0.5;
}

.blog-list li{
    width: 16.666666666667%;
    height: 500px;
    float: left;
    list-style-type: none;
    box-sizing: border-box;
 }

.blog-list li a{
    background-position: center, center;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}
.blog-list li span{
    display: none;
}
.blog-list li:hover span,
.blog-list li:active span{
    display: block;
    text-align: center;
    padding: 2rem 0 2rem 0;
    font-size:0.8rem;
}

.blog-list{
    height: 500px;
    display: block;
    background-color: #1e2024;

}

.blog-li-content{
    bottom: 0;
    position: absolute;
}

.blog-list p{
    font-size: 1.2rem;
    color: white;
    font-weight: 200;
}

.h1-section-content{
    margin: auto;
    width: 100%;
}

.img-list-static-content{
    width: 520px;
    text-align: left;
    padding: 4rem 4rem 4rem 12rem;
    display: inline-block;
    float: left;
}
.h3-small{
    text-align:left;
    line-height: 3rem;
    font-size: 2.3rem;
    color: white;
}

.img-list-static-content h3 span{
    display: block;
}
.red-box{
    width: 20%;
    height: 250px;
    display: inline-block;
    background-color: #f14848;
    float: left;
}

.schedule-box{
    width: 40%;
    background-color: #efefef;
    height: 540px;
    float: right;
    left: 0;
    top: 0;
    padding: 20px 0 0 40px;
}

.schedule-box img{
    width: 100%;
    background-color: #efefef;
    float: right;
}
.floating-boxes .site-footer {
background-color: #1e2024;
padding-top: 3rem;
}

.footer-nav{
width: 610px;
margin-left: 12rem;
}

.footer-nav li{
display: inline-table;
width: 200px;
padding-bottom: 2rem;
}

.footer-nav-sub li{
display: inline-block;
padding-bottom: 0;
padding-top: 1rem;
width: 100%;
}

.footer-nav-terms{
background-color: #151515;
}


.footer-nav-terms-in, .footer-nav-terms-in li{
display: inline-block;
padding-bottom: 2rem;
width: 100%;
}

.img-list .footer-nav-sub{
display: inline-block;
width: 150px;
padding-top: 4rem;
float: left;
}

.img-list-imgs, .img-list-imgs li, .img-list-imgs li figure {
display: inline-block;
width: 200px;
}

@media (max-width: 700px) {
.top-menu{
    display: none;
}
}
